<div class="d-flex align-items-center justify-content-between">
    <a href="index.php" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Controle de Alunos</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
</div>

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Escolas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="listagem-escolas.php">
                    </i><span>• Listagem</span>
                </a>
            </li>
            <li>
                <a href="registro-escolas.php">
                    </i><span>• Registro</span>
                </a>
            </li>
            <li>
                <a href="atualizacao-escolas.php">
                    </i><span>• Atualização</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Alunos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="listagem-alunos.php">
                    </i><span>• Listagem</span>
                </a>
            </li>
            <li>
                <a href="registro-alunos.php">
                    </i><span>• Registro</span>
                </a>
            </li>
            <li>
                <a href="atualizacao-alunos.php">
                    </i><span>• Atualização</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-layout-text-window-reverse"></i><span>Turmas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="listagem-turmas.php">
                    </i><span>• Listagem</span>
                </a>
            </li>
            <li>
                <a href="registro-turmas.php">
                    </i><span>• Registro</span>
                </a>
            </li>
            <li>
                <a href="atualizacao-turmas.php">
                    </i><span>• Atualização</span>
                </a>
            </li>
        </ul>
    </li>

    </ul>

</aside>