<div class="d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Controle de Alunos</span>
    </a>
</div>

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Escolas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="listar-escolas">
                    </i><span>• Listagem</span>
                </a>
            </li>
            <li>
                <a href="cadastrar-escola">
                    </i><span>• Cadastro</span>
                </a>
            </li>
            <li>
                <a href="atualizar-escola">
                    </i><span>• Atualização</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Alunos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="listar-alunos">
                    </i><span>• Listagem</span>
                </a>
            </li>
            <li>
                <a href="cadastrar-aluno">
                    </i><span>• Cadastro</span>
                </a>
            </li>
            <li>
                <a href="atualizar-aluno">
                    </i><span>• Atualização</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-layout-text-window-reverse"></i><span>Turmas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="listar-turmas">
                    </i><span>• Listagem</span>
                </a>
            </li>
            <li>
                <a href="cadastrar-turma">
                    </i><span>• Cadastro</span>
                </a>
            </li>
            <li>
                <a href="atualizar-turma">
                    </i><span>• Atualização</span>
                </a>
            </li>
        </ul>
    </li>

    </ul>

</aside>